extends layout

block content
    h1= title
    p
        form#updateForm
            span name:&nbsp;
            input#name(type="text", placeholder="name", name="name" value="#{dojo.name}") 
    p
        a#updateButton(href="#") update
    p
        a#removeButton(href="#") remove
    h2 Users
    p
        each user, i in users
            - var name = user.email ? user.email : 'null'
            a(href='/administrator/users/#{user._id}') #{name}
            br 
    p#error

    script(src='/javascripts/ajax_gateway.js')
    script.
        $(document).ready(function () {
            ajax_gateway = new AjaxGateway('/dojos/', '/administrator');
            $("#removeButton").click(function () {
                event.preventDefault();
                ajax_gateway.remove('#{dojo._id}');
            });
            $("#updateButton").click(function () {
                event.preventDefault();
                ajax_gateway.update('#{dojo._id}', { 
                    name: $('#name').val() 
                });

            });
        });
  